<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css"> -->
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1 class="text-center"><%- companyName %></h1>
            <h2 class="text-center">Dr. <%- user.name %></h2>
        </div>
    </main>
    
<%- include('../includes/end.ejs') %>