<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
   

    <main>
        <%- include('../../includes/enter-objective/table.ejs') %>


        <div class="row">
            <div class="col-sm-8">
              <%- include('../../includes/enter-objective/tabs.ejs') %>
              LUMBAR
            </div>
            <div class="col-sm-4">
              <%- include('../../includes/enter-objective/form.ejs') %>
            </div>
        </div>
    </main>
    
<%- include('../../includes/end.ejs') %>