<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/date.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/patients/edit" method="POST">

            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="" value="<%= patient.name %>">
            </div>

            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" placeholder="" value="<%= patient.email %>">
            </div>

            <div class="form-control">
                <label for="dateOfB">Date of Birth</label>
                <input type="text" id="dateOfB" name="dateOfB" value="<%= patient.dateOfB %>" readonly>
            </div>

            <div class="form-control">
                <label for="gender">Gender</label>
                <input type="text" id="dateOfB" name="dateOfB" value="<%= patient.gender %>" readonly>
            </div>

            <input type="hidden" name="patientId" value="<%= patient._id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Patient</button>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>