<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <% for(let patient of patients) {%>
                <div class="card">
                    <div class="card-header">
                    Patient ID: <%= patient._id %>
                    <a href="/patients/<%= patient._id %>" class="btn btn-secondary float-right ">View</a>
                    <a href="/patients/edit/<%= patient._id %>" class="btn btn-secondary float-right mr-1">Edit</a>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title text-center"><%= patient.name %></h5>
                    <p class="card-text text-center"><%= patient.email %></p>
                    <p class="card-text text-center"><%= patient.gender %></p>
                    </div>
                </div>
            <% } %> 
        </div>
    </main>
    
<%- include('../includes/end.ejs') %>