<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/table.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <h1>Visit ID: <%= visit._id %>, Patient <%= visit.patientId.name %></h1>
            <!--<div class="table-responsive-md mb-5 mt-5 table-wrapper-scroll-y my-custom-scrollbar">
                
                    <table class="table table-bordered table-striped"> 
                        <!-- <caption>List of users</caption> 
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date of Visit</th>
                            <th scope="col">Time in</th>
                            <th scope="col">Time out</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% //for(let visit of patientVisits) {%> 
                                <tr>
                                    <th scope="row"><%= //visit._id %></th>
                                    <td><%= //visit.visitDate.toDateString() %></td>
                                    <td><%= //visit.timeIn %></td>
                                    <td><%=// visit.timeOut %></td>
                                </tr>
                            <% //} %> 
                        </tbody>  
                </table>
            </div>-->
            <div class="mb-5 mt-5">
                <% let set = 0; %> 
                <% for(var i = 0; i <= 12; i++) {%> 
                    <div class="row">
                        <% for(var j = 0; j <= 31; j++) {%> 
                            <% if(i == 0 && j != 0) {%> 
                                <div class="col border border-dark "><%= j %></div>
                            <% } else if(j == 0 && i != 0) { %> 
                                <div class="col border border-dark "><%= i %></div>
                                
                            <% } else { %> 
                                <% for(let visit of patientVisits) {%> 
                                    <% if(visit.visitDate.getMonth() + 1 == i && visit.visitDate.getDate() == j) {%>
                                        <div class="col border border-dark "><i class="fa fa-check" aria-hidden="true"></i></div>
                                        <% set = 1 %> 
                                    <% } %>
                                <% } %> 
                                <% if(set == 0) { %> 
                                    <div class="col border border-dark "> </div>
                                <% } else {%> 
                                    <% set = 0; %> 
                                <% } %> 
                            <% } %> 
                        <% } %> 
                    </div>
                <% } %> 
            </div>
            <form action="/schedule/enter-visit" class="" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="fileNumber" class="col-sm-3 col-form-label">File Number</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control text-right" id="fileNumber" value="<%= visit.patientId._id %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="date" class="col-3 col-form-label">Visit Date</label>
                            <div class="col-9">
                                <input class="form-control text-right" readonly type="text" value="<%= visit.visitDate.getFullYear() + string + visit.visitDate.getMonth() + '-' + visit.visitDate.getDate()%>" id="" name="date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Treating Doctor</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control text-right" id="staticEmail" value="<%= visit.userId.name %> ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Daily Notes</label>
                            <div class="col-sm-9">
                                <textarea type="text" readonly class="form-control" id="staticEmail" value="" rows="3">????</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <label for="receptionist" class="col-sm-3 col-form-label">Receptionist File Notes</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control" id="receptionist" name="receptionist" value="" rows="3"><%= visit.patientId.receptionists.visitReceptionist
                                    [receptionistIndex].receptionist %></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="note" class="col-sm-3 col-form-label">Doctor File Notes</label>
                            <div class="col-sm-9">
                                <textarea type="text" class="form-control" id="note" value="" name="note" rows="3"><%= visit.patientId.notes.visitNote[noteIndex].note %></textarea>
                            </div>
                        </div>
                        <button class="btn btn-secondary" name="submit" value="save" type="submit">Save Notes</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary" href="/schedule">Back to Visits</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary float-right" href="/schedule/enter-objective/<%= visit._id %>">Enter Objective</a>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="visitId" value="<%= visit._id %>">
                <input type="hidden" name="patientId" value="<%= visit.patientId._id %>">
            </form>
        </div>
    </main>
    
<%- include('../includes/end.ejs') %>